/* Activity List */
.panel-activity {
	
}

.panel-activity .panel-heading {
	
}

.panel-activity .panel-heading .panel-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.panel-activity .panel-heading .panel-title a {
	text-decoration: none;
}

.panel-activity a {
	color: #333;
	text-decoration: none;
}

.panel-activity .media {
	
}

.panel-activity .media .pull-right {
	/*display: none;*/
}

.panel-activity .media .item .glyphicon {
	margin-right: 6px;
}

.panel-activity .media .con-item {
	margin-top: 10px;
}

.panel-activity .media .con-item .item {
	border-left: 1px solid #ddd;
	padding: 0 8px;
}

.panel-activity .media .con-item .item:first-child {
	border-left: none;
	padding-left: 0;
}

.panel-activity .media .con-item .item .val {
	color: #c30;
	padding-right: 4px;
}

.box-activityDetail {
	margin: 0 4px;
}

.box-activityDetail .item {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.box-activityDetail .item .glyphicon {
	margin-right: 8px;
}

.box-activityDetail .item-host {
	
}


.box-moreImages {
	/* background: white; */
	margin: 0 4px;
}

.box-moreImages h4 {
	
}

.box-moreImages h4 .val {
	font-size: 14px;
}

.box-moreImages .item {
	display: inline-block;
}

.box-moreImages .img {
	
}

.box-text {
	margin: 0 4px;
}




.btn-toolbar-list {
	float:left;
	white-space: nowrap;
	
}


.btn-toolbar-box {
    border: 1px solid #ddd;
	
    border-style: solid none;
    margin: 10px 0;
    overflow: auto;
    padding: 6px 0;
}

.btn-toolbar-box .btn-toolbar {
	
}

.btn-toolbar-box .btn-toolbar .btn-group {
	float:none;
	display:inline-block;
}







.list-box-hide {
	display: none;
}

.pop-bg {
	background: rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display:none;
	z-index: 100;
}

.pop-bg--show {
	display:block;	
}

.pop {
	margin-left:20px;
	
	
	height: 100%;
	background: white;
}
.pop .panel-group {
	height: 100%;
	/* position: absolute; */
}
.pop .panel-group .panel {
	border-radius: 0;
}

.pop .panel-group .panel .panel-heading {
	border-radius: 0;
}

.pop .panel-group .panel-heading .pager {
	
}

.pop .panel-group .panel-heading .pager .tit span {
	border: none;
	background: none;
}

.pop .panel-body {
    position: absolute;
	
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 90px;
    margin-left: 5px;
    overflow: auto;
}

.pop .list-group-item {
	border-style: solid none;
	cursor: pointer;
}

.pop .list-group-item:first-child {
	border-radius: 0;
	border-top: none;
}

.pop .list-group-item:last-child {
	border-radius: 0;
}

.pop .list-group-item .pull-right .glyphicon-ok {
	display: none;
}

.pop .list-group-item-selected .pull-right .glyphicon-ok {
	display: block;
}

.pop .list-group-item-selected {
	color: #428bca;
}





/* 活动发布页 */

.form-active-release {
	
}

.form-active-release .form-group-time {
	
}

.form-active-release .form-group-time .form-control {
	margin-bottom: 10px;
}

.form-active-release .input-group-maybefee {
	
}

.form-active-release .input-group-maybefee .input-group-addon {
	
}

.form-active-release .input-group-maybefee {
	
}

.form-group-hide {
	display:none;
}

.form-control-time-1 {
	margin-bottom: 10px;
}











