.container {
	padding-top: 10px;
}








.pop-city {
	position: fixed;
	top: 0;
	left:0;
	right:0;
	bottom:0;
	padding: 10px;
	overflow: auto;
	z-index: 1000;
	display: none;
	background: white;
}

.pop-city-show {
	display: block;
}

.form-control-city {
	text-align: left;
}


.con-exit {
	 text-align: right;margin-bottom:10px;
}